@using SessionDemo.Models;
@model SessionDemo.Models.Product;

@{ ViewData["Title"] = "Index";}
<h1>Todays products for sale...</h1>
<hr/>

<img src="/images/flowers.jpg" width="200" height="100"/>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["allProducts"] as List<Product>)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>

                <td><a href="/ShoppingCart/add/@item.ID">Add to Cart</a></td>
            </tr>
        }
    </tbody>
</table>